.hamburger-menu {
  position: absolute;
  width: 40px;
  height: 40px;
  // margin: 0 15px;
  left: 20px;
}

.label-hamburger-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.5s ease;
}

.label-hamburger-menu:hover .bar {
  /* box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3); */
}

.label-hamburger-menu .bar {
  width: 25px;
  height: 2px;
  background: #333;
  /* box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4); */
  border-radius: 1px;
  transition: 0.4s ease;
}

.label-hamburger-menu .bar:not(:first-child) {
  margin-top: 5px;
}

#checkbox-hamburger-menu {
  display: none;
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu {
  transform: translate(-50%, -50%) rotateY(180deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar {
  width: 30px;
  transform: rotateY(180deg) rotateX(360deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:first-child {
  transform: translateY(7px) rotate(-45deg);
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(2) {
  opacity: 0;
}

#checkbox-hamburger-menu:checked + .label-hamburger-menu .bar:nth-child(3) {
  transform: translateY(-7px) rotate(45deg);
}

.sidebar.sidebar-close {
  .logo {
    justify-content: center;
    .logoDetails {
      display: none;
    }
  }
}

.sidebar.sidebar-close {
  .menuLinkName {
    display: none;
  }
  .arrow {
    display: none;
  }
  i {
    font-size: 20px;
  }
  .menuDropdown {
    justify-content: center;
  }
}

.sidebar.sidebar-close .nav-links li a .link_name {
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu li:hover a,
.sidebar .nav-links li .sub-menu li.active a {
  color: #000;
}

.sidebar.sidebar-close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 0;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
  overflow: hidden;
}

.sidebar.sidebar-close .nav-links li .sub-menu li {
  padding: 6px 15px;
  width: 200px;
}

.sidebar.sidebar-close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar {
  padding: 20px;
  grid-area: sidebar;
  background-color: #ececec;
  border-radius: 8px;
  transition: all 0.3s ease;
  overflow: auto;

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
    img {
      width: 50px;
      height: 50px;
    }
    &Details {
      display: flex;
      flex-direction: column;
    }
    &Text {
      color: #6f6f6f;
      font-weight: 600;
      font-size: 10px;
    }
    &Title {
      font-size: 20px;
      color: #333333;
      font-weight: 700;
    }
  }

  .menu {
    list-style-type: none;
    li {
      border-radius: 8px;
      background-color: #fff;
      margin-bottom: 10px;
      transition: all 0.2s ease;
      overflow: hidden;
      &:hover,
      &.active {
        background-color: #00a3ff;
        .menuDropdown {
          background-color: #00a3ff;
        }
      }
    }
    a {
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
    }
    &Link {
      display: flex;
      align-items: center;
      padding: 15px;
      cursor: pointer;
      &Name {
        margin-left: 10px;
      }
    }
    &Dropdown {
      display: flex;
      align-items: center;
      border-radius: 8px;
      background-color: #fff;
      padding: 15px;
      cursor: pointer;
      color: #333333;
      font-size: 14px;
      font-weight: 600;
      transition: all 0.2s ease;
      i.arrow {
        margin-left: auto;
      }
      &:hover,
      .showMenu {
        background-color: #ffd600;
      }
    }
    .subMenu {
      padding: 0 15px;
      display: none;
      background-color: #ffd600;
      li {
        background-color: #ffd600;
      }
    }

    .showMenu {
      background-color: #ffd600;
      .menuDropdown {
        background-color: #ffd600;
      }
      .subMenu {
        display: block;
      }
    }
    ul {
      list-style-type: none;
    }
  }
}

.header {
  position: relative;
  grid-area: header;
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 100%;
  .wrapItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    .btnLogout {
      border: none;
      background-color: none;
      cursor: pointer;
    }
  }
}
.content {
  grid-area: content;
  // border: 1px solid #ececec;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}
.footer {
  grid-area: footer;
  background-color: #f3f3f3;
  border-radius: 8px;
  width: 100%;
}
.wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 70px 1fr 70px;
  grid-template-areas:
    "sidebar header"
    "sidebar content"
    "sidebar content";
  gap: 20px;
  padding: 20px;
  height: 100vh;
  transition: all 0.3s ease;
}

.wrapper.sidebarWrap {
  grid-template-columns: 100px 1fr;
}

@media (max-width: 700px) {
}
