<div class="container1">
  <div class="tableWrapper">
    <table class="table1">
      <thead>
        <tr>
          <th>ID</th>
          <th>Phone number</th>
          <th>Status</th>
          <th>Type</th>
          <th>Date of registration</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tb-id">Lorem ipsum dolor</td>
          <td class="tb-phone">99999999999</td>
          <td class="tb-status elementary">Active without a card</td>
          <td class="tb-type">Private</td>
          <td class="tb-date">13-05-2023 04:17</td>
          <td class="tb-btn">
            <div><img src="../../../../assets/Icon.svg"/> Посмотреть</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
